# 2020-09-28
# «The [client] option group is read by all client programs provided in MySQL distributions (but not by mysqld).
# The [client] group enables you to specify options that apply to all clients.
# For example, [client] is the appropriate group to use to specify the password for connecting to the server.
# Be sure not to put an option in the [client] group unless it is recognized by all client programs that you use.
# Programs that do not understand the option quit after displaying an error message if you try to run them.»
# https://dev.mysql.com/doc/refman/5.7/en/option-files.html
[client]
host = localhost
password = f1h7JuVe
user = WRuru4pz