[Unit]
After=network.target
Description=MySQL Community Server

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/sbin/mysqld --daemonize --pid-file=/var/run/mysqld/mysqld.pid
ExecStartPre=/usr/share/mysql/mysql-systemd-start pre
Group=mysql
LimitNOFILE = 5000
PIDFile=/var/run/mysqld/mysqld.pid
PermissionsStartOnly=true
Restart=on-failure
RestartPreventExitStatus=1
RuntimeDirectory=mysqld
RuntimeDirectoryMode=755
TimeoutSec=600
Type=forking
User=mysql