# 2021-04-05 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# 1) "Install MySQL": https://github.com/canadasatellite-ca/3.133.129.101/issues/14
# 2) "What is the `mysqld@.service` systemd file for?": https://df.tips/t/1086
[Unit]
After=network.target
Description=MySQL Community Server
Documentation=http://dev.mysql.com/doc/refman/en/using-systemd.html
Documentation=man:mysqld(8)

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/sbin/mysqld --defaults-group-suffix=@%I --daemonize --pid-file=/var/run/mysqld/mysqld-%i.pid
ExecStartPre=/usr/share/mysql/mysql-systemd-start pre @%I
Group=mysql
LimitNOFILE = 5000
PIDFile=/var/run/mysqld/mysqld-%i.pid
PermissionsStartOnly=true
Restart=on-failure
RestartPreventExitStatus=1
RuntimeDirectory=mysqld
RuntimeDirectoryMode=755
TimeoutSec=600
Type=forking
User=mysql