# 2021-04-05 Dmitry Fedyuk https://www.upwork.com/fl/mage2pro
# "Install PHP 7.2": https://github.com/canadasatellite-ca/3.133.129.101/issues/13
[Unit]
After=network.target
Description=The PHP 7.2 FastCGI Process Manager
Documentation=man:php-fpm7.2(8)

[Service]
Type=notify
ExecReload=/bin/kill -USR2 $MAINPID
ExecStart=/usr/sbin/php-fpm7.2 --nodaemonize --fpm-config /etc/php/7.2/fpm.ini
ExecStartPost=-/usr/lib/php/php-fpm-socket-helper install /run/php/php-fpm.sock /etc/php/7.2/fpm.ini 72
ExecStopPost=-/usr/lib/php/php-fpm-socket-helper remove /run/php/php-fpm.sock /etc/php/7.2/fpm.ini 72

[Install]
WantedBy=multi-user.target